<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>南台科技大學選課系統-登入</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}" />
</head>
<body>
    <h1 class="title">南台科技大學選課系統</h1>
    <div class="form-container">
        <form onsubmit="saveUsername(event)">
            <label for="username" class="input-label">帳號:</label>
            <input type="text" id="username" class="input-field" placeholder="請輸入帳號" required />
            <label for="password" class="input-label">密碼:</label>
            <input type="password" id="password" class="input-field" placeholder="請輸入密碼" required />
            <button type="submit" class="submit-btn">登入</button>
        </form>
    </div>
    <div class="info-container">
        <p><i class="fas fa-info-circle icon"></i>延修生本學期不需至[延修生線上註冊系統]登錄基本資料，請於選課期間直接進選課系統加選。</p>
        <hr />
        <p><i class="fas fa-info-circle icon"></i> 新生請先進行 [密碼啟用程序]。</p>
        <hr />
        <p><i class="fas fa-phone-alt icon"></i> 選課問題洽詢電話：(06) 253-3131</p>
        <p><i class="fas fa-angle-right icon"></i>日間部選課問題請洽教務處課教組　分機2110~2112。</p>
        <p><i class="fas fa-angle-right icon"></i>進修部、專班選課問題請洽進修部教務組　分機2401~2402。</p>
        <hr />
        <p><i class="fas fa-desktop icon"></i>最佳解析度 1024 * 768 ；建議使用IE7.0以上的瀏覽器。</p>
        <hr />
    </div>
    <script>
        function saveUsername(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            localStorage.setItem('username', username);
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
</body>
</html>
